[Interface]
PrivateKey = REPLACE_WITH_NEW_LAPTOP_PRIVATE_KEY
Address = 10.10.10.4/32

[Peer]
PublicKey = REPLACE_WITH_NEW_BBB_PUBLIC_KEY
PresharedKey = REPLACE_WITH_NEW_LAPTOP_PSK
Endpoint = YOUR-DDNS-OR-PUBLIC-IP:51820
AllowedIPs = 10.10.10.1/32
PersistentKeepalive = 25
